---
import PostCard from "./post-card.astro";
import { getPosts } from "../lib/posts";
import type { Post } from "../types";

export type PostListProps = {
  limit?: number;
  posts?: { slug: string; data: Post }[];
};

let { limit, posts } = Astro.props as PostListProps;

if (!posts) {
  posts = Object.values(
    (await getPosts()).map((post) => ({ slug: post.slug, data: post.data })),
  );
}
---

<ul class="mx-0 mt-4 flex flex-wrap justify-between gap-8">
  {
    posts
      .sort(
        (a, b) =>
          new Date(b.data.pubDate).getTime() -
          new Date(a.data.pubDate).getTime(),
      )
      .slice(0, limit)
      .map((post) => (
        <li class="contents">
          <PostCard
            title={post.data.title}
            url={post.data.affiliateLink ?? `/posts/${post.slug}`}
            description={post.data.description}
            date={post.data.pubDate}
            tags={post.data.tags}
            external={!!post.data.affiliateLink}
          />
        </li>
      ))
  }
</ul>
