---
import "../styles/global.css";

import Contact from "../components/contact.astro";
import Navigation from "../components/navigation.astro";
import { siteName, siteDescription, navLinks, contactLinks } from "../data";
import type { BaseLayoutProps } from "../types";
import type { WebSite, WithContext } from "schema-dts";

const { url, frontmatter, schemas } = Astro.props as BaseLayoutProps;

const canonicalUrl = new URL(url, Astro.site);

const websiteSchema: WithContext<WebSite> = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: siteName,
  description: siteDescription,
  url: `${Astro.site}`,
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Jamie Kuppens" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <title>{frontmatter.title}</title>
    <meta property="og:title" content={frontmatter.title} />
    <meta name="twitter:title" content={frontmatter.title} />
    <meta itemprop="name" content={frontmatter.title} />
    <meta name="application-name" content={frontmatter.title} />
    <meta property="og:site_name" content={siteName} />

    <meta name="description" content={frontmatter.description} />
    <meta itemprop="description" content={frontmatter.description} />
    <meta property="og:description" content={frontmatter.description} />
    <meta name="twitter:description" content={frontmatter.description} />

    <base href={`${canonicalUrl}`} />
    <link rel="canonical" href={`${canonicalUrl}`} itemprop="url" />
    <meta name="url" content={`${canonicalUrl}`} />
    <meta name="twitter:url" content={`${canonicalUrl}`} />
    <meta property="og:url" content={`${canonicalUrl}`} />

    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href={`${new URL("sitemap-index.xml", Astro.site)}`}
    />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <meta name="generator" content={Astro.generator} />

    {
      // Add page-specific schemas (e.g. BlogPosting) alongside WebSite schema.
      [websiteSchema, ...(schemas ?? [])].map((schema) => (
        <script type="application/ld+json" set:html={JSON.stringify(schema)} />
      ))
    }
  </head>
  <body>
    <div
      class="mx-auto flex min-h-screen max-w-7xl flex-col px-6 pb-6 lg:flex-row lg:gap-16 lg:px-12 lg:pb-0 xl:gap-32"
    >
      <header
        class="mx-auto flex w-full flex-col justify-between self-start pt-12 lg:sticky lg:top-0 lg:min-h-screen lg:w-full lg:min-w-80 lg:max-w-80 lg:max-w-fit lg:py-12"
      >
        <Navigation links={navLinks} />

        <div class="mt-4 hidden lg:block">
          <Contact links={contactLinks} />
        </div>
      </header>

      <main class="mx-auto w-full pt-6 lg:min-w-0 lg:py-12">
        <slot />
      </main>

      <footer class="mt-8 lg:hidden">
        <Contact links={contactLinks} />
      </footer>
    </div>

    <script defer is:inline>
      (function () {
        "use strict";

        const doNotTrackSupported =
          navigator.doNotTrack !== undefined ||
          navigator.msDoNotTrack !== undefined ||
          window.doNotTrack !== undefined;

        const doNotTrackEnabled =
          doNotTrackSupported &&
          (navigator.doNotTrack == "yes" ||
            navigator.doNotTrack == "1" ||
            navigator.msDoNotTrack == "1" ||
            window.doNotTrack == "1");

        if (doNotTrackEnabled) {
          console.log("Disabling GA as DNT is set.");
          return;
        }

        (function (i, s, o, g, r, a, m) {
          i["GoogleAnalyticsObject"] = r;
          (i[r] =
            i[r] ||
            function () {
              (i[r].q = i[r].q || []).push(arguments);
            }),
            (i[r].l = 1 * new Date());
          (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m);
        })(
          window,
          document,
          "script",
          "https://www.google-analytics.com/analytics.js",
          "ga",
        );

        ga("create", "UA-72614951-1", "auto");
        ga("send", "pageview");
      })();
    </script>
  </body>
</html>
