---
import BaseLayout, { type BaseLayoutProps } from "../layouts/base-layout.astro";
import TableOfContents from "../components/table-of-contents.astro";
import type { BlogPosting, WithContext } from "schema-dts";

export type PostLayoutProps = BaseLayoutProps & {
  frontmatter: {
    pubDate: string;
    author: string;
    tags: string[];
    affiliateLink?: string;
  };
};

const { url, frontmatter, headings } = Astro.props as PostLayoutProps;

const canonicalUrl = new URL(url, Astro.site);
const publishedDate = frontmatter.pubDate.split("T")[0];

const schema: WithContext<BlogPosting> = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": `${canonicalUrl}`,
  },
  url: `${canonicalUrl}`,
  headline: frontmatter.title,
  description: frontmatter.description,
  author: { "@type": "Person", name: frontmatter.author },
  datePublished: publishedDate,
};
---

<script>
  const COPY_TEXT = "Copy";

  async function copy(element: Element, button: HTMLButtonElement) {
    const code = element.querySelector("code");
    if (!code) {
      return;
    }

    await navigator.clipboard.writeText(code.innerText);

    button.innerText = "Copied";

    setTimeout(() => {
      button.innerText = COPY_TEXT;
    }, 3000);
  }

  document.querySelectorAll(".astro-code").forEach((element) => {
    if (navigator.clipboard) {
      const button = document.createElement("button");
      button.innerText = COPY_TEXT;

      button.addEventListener("click", async () => {
        await copy(element, button);
      });

      element.appendChild(button);
    }
  });
</script>

<BaseLayout
  schemas={[schema]}
  redirectUrl={frontmatter.affiliateLink ?? null}
  {...Astro.props}
>
  <p>{frontmatter.author}</p>
  <p>{publishedDate}</p>
  <p>{headings?.length}</p>
  <TableOfContents headings={headings} />
  <p>
    {
      frontmatter.tags.map((tag) => (
        <>
          <a href={`${new URL(`/tags/${tag}`, Astro.site)}`}>{tag}</a>
          <br />
        </>
      ))
    }
  </p>

  <h1>{frontmatter.title}</h1>

  <slot />
</BaseLayout>
